{%extends 'base.html'%}


{%block content%}
<div class="container text-white">
    {%block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/styles.css')}}">
    {%endblock %}


    <h2></h2>


    <div class="container-fluid text-center">
        <h2>"A minute can change or break you."</h2>
        <p>make your pitch in a minute!!</p>
        {% if current_user.is_authenticated %}
        <a class="btn btn-primary" href="/newpitch">New Pitch</a>
        {%else %}
        <a class="btn btn-primary" href="/login">new pitch</a>
        {% endif %}
        {%if current_user.is_authenticated%}
        <a class="btn btn-primary" href="/pitch">View pitch</a>
        {% else %}
        <a class="btn btn-primary" href="/login">View pitch</a>
        {% endif %}





    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://miro.medium.com/max/1200/1*eaZKaMVU_ySKAkfmAI79aw.jpeg" alt="">
        </div>


    </div>
    <div>
        <h3>About us</h3>
        <h4>The value of a minute</h4>
        <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you</p>

    </div>
    <div class="card-footer text-center">
        <p>copyright &copy; 2021 Ibrahim</p>
    </div>



</div>
{%endblock%}