{%extends 'base.html'%}
{%block content %}
{% import 'bootstrap/wtf.html' as wtf%}


<div class="container">
    <div class="card">
        <h3>Welcome , view pitches here</h3>
        <div class="card">
            <ul>
                {% for pitch in pitches%}
                <div class="card-body bg-secondary">
                    <li>
                        <h3>{{pitch.title}}</h3>
                    </li>
                    <h6>{{pitch.category}}</h6>
                    <p>{{pitch.description}}</p>
                    <p>posted at: <em>{{pitch.posted}}</em></p>
                    <button class="btn btn-success">Like</button><button class="btn btn-danger">Dislike</button>
                    {{wtf.quick_form(commentform)}}
                    <hr>

                </div>
                {% endfor %}
            </ul>


        </div>
    </div>
    {% endblock %}